@font-face{
    font-family : 'Act Of Rejection';
	src: url("./fonts/Act_Of_Rejection.ttf");
}


#screen{
-fx-background-image : url("Images/selectFighterBackground.jpg");
-fx-background-size : 1500 750;
-fx-background-position : center center;
-fx-background-repeat : stretch;
}

#kenPlayer, #akumaPlayer, #ryuPlayer, #chunliPlayer{
-fx-padding : 0;
-fx-border-color:white;
-fx-border-width:2;
}
#kenPlayer:hover, #akumaPlayer:hover, #ryuPlayer:hover, #chunliPlayer:hover{
  -fx-border-width : 5;
  -fx-border-color : white;
}

/*#vs{
 -fx-font-family:"Verdana";
 -fx-fill: white;
 -fx-font-size:170;
 -fx-font-weight:bold;
}*/

#chooseChar{
-fx-margin-top:30;
-fx-fill: white;
-fx-font-size:70;
-fx-font-weight:bold;
}

#p1CharName,#p2CharName{
 -fx-fill: white;
 -fx-font-size:20;
 -fx-font-weight:bold;
}

#confirmP1, #confirmP2, #back{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 10;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #df0000 0%, #980A0A 100%),
        #df0000,
        #7A0000,
        radial-gradient(center 50% 50%, radius 100%, #df0000, #980A0A);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-text-fill : white;
    -fx-font-family:'Act Of Rejection';
}

#confirmP1:hover, #confirmP2:hover, #back:hover{
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #F00000 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #F00000, #F00000);
}
#confirmP1:pressed , #confirmP2:pressed, #back:pressed{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


